body {
    margin: 0;
    padding: 0;
    background-color: aqua;

}


.Character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(600px / 4);
    height: 600px;
    animation: animate .3s steps(4) infinite;
    background: url(https://freesvg.org/img/WalkingGirl2.png);
}

@keyframes animate {
    from
    {
        background-position: 0;
    }
    to
    {
        background-position: 600px;
    }
}
