body {
    background: rgb(0, 251, 255);
}

.Character {
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.Character_art {
    animation: movingSheet 1s steps(4) infinite;
    overflow: hidden;
}

@keyframes movingSheet {
    from {
        transform: translate3d(0px,0,0);
    }

    to {
        transform: translate3d(-100%,0,0);
    }
}
